<%= form_for([@user, @user.kpts.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row">
    <div class="span6">
      <h2>Keep</h2>
      <%= f.text_area :keep, placeholder: "・今後続けていきたい事" %>
      <h2>Problem</h2>
      <%= f.text_area :problem, placeholder: "・改善したい事"%>
    </div>

    <div class="span6">
      <h2>Try</h2>
      <%= f.text_area :try, placeholder: "・改善するためにする事" %>
    </div>
  </div>
  <%= f.submit class: "kpt_submit" %>
<% end %>